/* COLORS
lightgreen: #d8e8d9
green: #a7d4ac
gray: #474a48  */

body{
    background-color:#d8e8d9 ;
    text-align: center;
    margin: 0;
    max-height: 100vh;
    overflow: hidden;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    background-color:#a7d4ac ;
}

header .title{
    flex: 75%;
}

header .logout-btn{
    flex: 25%;
}

header .logout-btn button{
    width: 90%;
    background-color: transparent;
    border: none;
}

header .logout-btn button img{
    width: 35px;
    filter: invert(26%) sepia(7%) saturate(204%) hue-rotate(87deg) brightness(101%) contrast(92%);
}

header .logout-btn button p{
    margin: auto;
}

h1, button{
    color: #474a48;
}

button{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-style: italic;
}

header h1{
    margin: 0;
    padding: 21.440px 0;
    font-family: 'Poppins', sans-serif;
}

.actions{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5%;
    max-height: 85vh;
    overflow-y: scroll;
    margin-top: 20px;
    margin-bottom: 20px;
}

.actions form{
    flex: 50%;
    box-sizing: border-box;
    padding: 5%;
    aspect-ratio: 1;
    max-width: 50%;
}

.actions form button{
    margin: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    aspect-ratio: 1;

    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: #a7d4ac;
}


@media(min-width:450px){

    header .title{
        text-align: left;
        box-sizing: border-box;
        padding-left: 50px;
    }

}

@media(min-width:600px){

    header .logout-btn{
        text-align: right;
        box-sizing: border-box;
    }

    .actions form{
        flex: 33%;
        max-width: 33%;
    }

}

@media(min-width:800px){
    header .logout-btn{
        text-align: right;
        box-sizing: border-box;
        padding-right: 50px;
    }

    header .logout-btn button{
        width: fit-content;
    }

    .actions form{
        flex: 25%;
        max-width: 25%;
    }
}

@media(min-width:1100px){
    .actions form{
        flex: 20%;
        max-width: 20%;
    }
}